<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/error.css">
    <link rel="shortcut icon" href="images/parts/favicon.ico">
    <title>Oops!</title>
</head>
<body>
    <h1>404</h1>
    <h3>Sorry, this page isn't available.</h3>
    <h5><a href="https://rhyga.me/">Enter main page</a></h5>
</body>
</html>