<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URLATE 관리자 로그인</title>
</head>
<body>
  <h1>URLATE 관리자 계정 로그인</h1>
  <input type="text" id="username" placeholder="ID" pattern="^[a-z0-9]{1,10}$" required>
  <input type="password" id="password" placeholder="PW" pattern="^[a-zA-Z0-9!]{10}$" required>
  <input type="submit" value="Login" onclick="submit()">
  <script>
    const projectUrl = "<%= url %>";
    const api = "<%= api %>";
  </script>
  <script src="/js/accLogin.js"></script>
</body>
</html>