<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="photos/icons/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="photos/icons/favicon.ico" type="image/x-icon"/>
  <title>Copyright</title>
</head>
<body>
  저작권 페이지는 출시 직전에 만들어야지~~
</body>
</html>
