<!DOCTYPE html>
<html lang="<%= __('lang') %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyRhy Editor</title>
  <link rel="stylesheet" href="css/editor.css">
  <link rel="shortcut icon" href="images/favicon.ico">
  <script src="js/pace.js"></script>
</head>
<body>
  <img src="images/parts/elements/wall.svg" id="wall_left">
  <img src="images/parts/elements/wall.svg" id="wall_right">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    const cdnUrl = "<%= cdnUrl %>";
    const url = "<%= url %>";
    const api = "<%= api %>";
  </script>
  <script src="js/editor.js"></script>
</body>
</html>