<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="/photos/icons/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/photos/icons/favicon.ico" type="image/x-icon"/>
    <title>Join To Game</title>
</head>
<body>
  <div id="navbar">
    <i class="material-icons" style="font-size: 2em; color: #3D9CEF;">account_circle</i>
  </div>
  <div class="flexbox">
    <span id="title">이메일을 보내드렸습니다.</span>
    <br>
    <span id="smallTitle">이메일을 통해 받은 확인 코드를 10분 내로 입력해주세요.</span>
    <form action="/auth/chkmail" method="post">
        <input id="text" type="text" name="checkCode" placeholder="code" title="이메일을 통해 받은 확인 코드를 입력해주세요." required>
        <br>
        <input id="btn" type="submit" value="Sign up" style="cursor: pointer;">
    </form>
  </div>
</body>
</html>
