<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyRhy Client</title>
</head>
<body>
    <span>Hi, <%=name %>! Your ID is <%=id %>.</span>
</body>
</html>