<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="icon" href="photos/icons/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="photos/icons/favicon.ico" type="image/x-icon"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9522675848556068",
            enable_page_level_ads: true
       });
  </script>
  <title>MyRhy</title>
</head>
<body>
  <div id="sorry" style="height: 100vh; width: 100vw; position: fixed; background: radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(245,245,245,1) 100%); z-index: 110; display: flex; align-items: center; flex-direction: column; visibility: hidden;">
    <i class="material-icons" style="font-size: 6em;">warning</i>
    <h2 style="text-align: center; width: 100vw;">브라우저의 크기가 너무 작거나<br>(1300px*700px 미만)<br>InternetExplorer를 사용중일경우<br>MyRhy 플레이가 어렵습니다.</h2>
  </div>
  <div class="flexbox">
    <img src="photos/myrhyLogo.png" id="logo">
    <a href="/auth/login">Start Game</a>
  </div>
  <script>
  var agent = navigator.userAgent.toLowerCase();
  if ((navigator.appName == 'Netscape' && agent.indexOf('trident') != -1) || (agent.indexOf("msie") != -1)) {
    document.getElementById("sorry").style.visibility = "visible";
  }
  if(window.innerWidth < 1300 || window.innerHeight < 700) {
    document.getElementById("sorry").style.visibility = "visible";
  }
  </script>
</body>
</html>
