<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>MyRhy</title>
</head>
<body>
    <div id="logoBox">
        <img src="images/myrhyLogo_blue.png" id="logo">
    </div>
    <div id="emptyBox"></div>
    <input type="button" value="asdf" />
    <script src="js/index.js"></script>
</body>
</html>