<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177236027-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177236027-1');
  </script>
  <meta charset="UTF-8">
  <title>URLATE Info</title>
  <link rel="stylesheet" href="css/info.css">
  <link rel="shortcut icon" href="images/favicon.ico">
<body>
    <h1>URLATE Copyright Information</h1>
    <p><strong>ICONS</strong></p>
    <p class="descriptions">Icons 'info, settings, chevron-left, chevron-right, macos-close', provided by <a href="https://icons8.com">icons8</a></p>
    <p><strong>SONGS</strong></p>
    <p class="descriptions">If no copyrighted music group is specified, the composer owns the copyright on the music.</p>
    <table>
        <tr>
          <th>Composer</th>
          <th>Song</th>
        </tr>
        <tr>
          <td rowspan="4">Geoplex</td>
          <td>URLATE Theme</td>
        </tr>
        <tr>
          <td>Chimera</td>
        </tr>
        <tr>
          <td>Subvert</td>
        </tr>
        <tr>
          <td>Florescence</td>
        </tr>
        <tr>
          <td rowspan="2">VSNS</td>
          <td>Warrior</td>
        </tr>
        <tr>
          <td>Phantom</td>
        </tr>
        <tr>
          <td>Elsiff</td>
          <td>Chatty Bones 2018</td>
        </tr>
        <tr>
          <td>SVRGE</td>
          <td>GAMES</td>
        </tr>
        <tr>
          <td rowspan="2">Minerva</td>
          <td>Colors</td>
        </tr>
        <tr>
          <td>CLOUD_NINE</td>
        </tr>
        <tr>
          <td>Rewayde</td>
          <td>Shining Waves</td>
        </tr>
        <tr>
          <td>Hexalyte</td>
          <td>Horizon</td>
        </tr>
        <tr>
          <td rowspan="2">Canonblade</td>
          <td>Escape</td>
        </tr>
        <tr>
          <td>Overcharge</td>
        </tr>
        <tr>
          <td rowspan="2">Sterrezo</td>
          <td>Zenith</td>
        </tr>
        <tr>
          <td>Fantasy</td>
        </tr>
        <tr>
          <td>Greenstar</td>
          <td>Bittersweet Adventure</td>
        </tr>
    </table>

    <p><strong>UI/UX DESIGN & IMAGES</strong></p>
    <p class="descriptions">&copy;Copyright AlTaDex, 2018-2021.</p>
</body>
</html>
