<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Sancheon Web System | MyRhy CDN Service">
    <meta name="viewport" content="width=device-width">
    <meta class="nanum-square" http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>MyRhy CDN Service</title>
    <link rel="stylesheet" href="https://shd.one/Tx/nanumsquare.css">
    <style>
        body {
            background-color: #3A3A3A;
            margin: 18px;
        }

        p {
            font-size: 1.6em;
        }

        .nanum-square {
            font-family: 'Nanum Square';
        }

        .bold {
            font-weight: bold;
        }

        .foot {
            background-color: #3A3A3A;
            text-align: right;
            width: calc(100vw - 54px);
        }

        table {
            border-collapse: collapse;
            color: white;
            font-family: 'Nanum Square';
            border: 1px solid white;
        }
        
        th, td {
            padding: 5px;
            margin: 0px;
            border: 1px solid white;
        }

        a {
            color:white;
        }
    </style>

<body>
    <h1><span class="nanum-square" style="color:#F15F5F">MyRhy Copyright Information</span></h1>

    <p><strong class="nanum-square" style="font-size:20px; color:white">ICONS</strong></p>
    <p><span class="nanum-square" style="font-size:18px; color:white">Icons 'info, settings, chevron-left, chevron-right, macos-close', provided by <a href="https://icons8.com">icons8</a></span></p>
    
    <p><strong class="nanum-square" style="font-size:20px; color:white">SONGS</strong></p>
    <p><span class="nanum-square" style="font-size:18px; color:white">If no copyrighted music group is specified, the composer owns the copyright on the music.</span></p>
    <table>
        <tr>
          <th>Composer</th>
          <th>Song</th>
          <th>Music copyright-ownership organization</th>
        </tr>
        <tr>
          <td rowspan="4">Geoplex</td>
          <td>MyRhy Theme</td>
          <td>Team Croissant</td>
        </tr>
        <tr>
          <td>Chimera</td>
          <td rowspan="3">-</td>
        </tr>
        <tr>
          <td>Subvert</td>
        </tr>
        <tr>
          <td>Florescence</td>
        </tr>
        <tr>
          <td rowspan="2">VSNS</td>
          <td>Warrior</td>
          <td rowspan="2">VSNS Release</td>
        </tr>
        <tr>
          <td>Phantom</td>
        </tr>
        <tr>
          <td>Tido Kang</td>
          <td>Inevitability</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Elsiff</td>
          <td>Chatty Bones 2018</td>
          <td>-</td>
        </tr>
        <tr>
          <td>SVRGE</td>
          <td>GAMES</td>
          <td rowspan="5">Argofox Release</td>
        </tr>
        <tr>
          <td rowspan="2">Minerva</td>
          <td>Colors</td>
        </tr>
        <tr>
          <td>CLOUD_NINE</td>
        </tr>
        <tr>
          <td>Rewayde</td>
          <td>Shining Waves</td>
        </tr>
        <tr>
          <td>Hexalyte</td>
          <td>Horizon</td>
        </tr>
        <tr>
          <td rowspan="2">Canonblade</td>
          <td>Escape</td>
          <td rowspan="2">-</td>
        </tr>
        <tr>
          <td>Overcharge</td>
        </tr>
        <tr>
          <td rowspan="2">Sterrezo</td>
          <td>Zenith</td>
          <td rowspan="2">-</td>
        </tr>
        <tr>
          <td>Fantasy</td>
        </tr>
	<tr>
	  <td>Greenstar</td>
	  <td>Bittersweet Adventure</td>
	  <td>-</td>
	</tr>
    </table>

    <p><strong class="nanum-square" style="font-size:20px; color:white">UI/UX DESIGN & IMAGES</strong></p>
    <p><span class="nanum-square" style="font-size:18px; color:white">&copy;Copyright AlTaDex, 2018-2020.</span></p>

    <p><strong class="nanum-square" style="font-size:20px; color:white">SOURCE CODE</strong></p>
    <p><span class="nanum-square" style="font-size:18px; color:white">The source code is released through <a href="https://github.com/Team-Croissant/MyRhy">GitHub</a>.</span></p>
    <div class="foot">
      <span class="nanum-square" style="font-size:12px; color:white">Running on <a href="https://info.shd.one">Sancheon Web System.</a></span>
    </div>
</body>
</html>
