<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/play.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css">
  <link rel="icon" href="photos/icons/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="photos/icons/favicon.ico" type="image/x-icon"/>
  <script src="pace/pace.js"></script>
  <title><%= songName %></title>
</head>
<body>
  <span> Test: <%= difficulty %> </span>
</body>
