<!DOCTYPE html>
<html lang="<%= __('lang') %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prototype Client</title>
  <link rel="stylesheet" href="css/proto.css">
  <link rel="shortcut icon" href="images/favicon.ico">
  <script src="js/pace.js"></script>
</head>
<body>
  <div id="loadingContainer">
    <div id="loading">
      <img id="albumArt" onerror="this.onerror=null;this.src='images/album/temp.png';">
      <span id="title">Chatty Bones 2018</span>
      <span id="composer">Elsiff</span>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    const cdnUrl = "<%= cdnUrl %>";
    const url = "<%= url %>";
    const api = "<%= api %>";
  </script>
  <script src="js/proto.js"></script>
</body>
</html>