<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/sameError.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="photos/icons/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="photos/icons/favicon.ico" type="image/x-icon"/>
    <title>SameName</title>
</head>
<body>
  <div>
    <i class="material-icons">warning</i>
    <h1>같은 닉네임의 계정이 이미 존재합니다!</h1>
    <a href="/auth/join">돌아가기</a>
  </div>
</body>
</html>
