@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,700&display=swap');
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Heebo', 'Spoqa Han Sans', 'Spoqa Han Sans KR', '나눔바른고딕', arial;
    overflow-x: hidden;
    overflow-y: hidden;
}

#wall_left {
  top: 0;
  left: 0;
  position: fixed;
  height: 101vh;
}

#wall_right {
  top: -1vh;
  right: 0;
  position: fixed;
  height: 101vh;
  transform: rotate(180deg);
}