@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #EEE;
    font-family: 'Heebo', 'Noto Sans KR', '나눔바른고딕', arial;
    letter-spacing: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}