@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,700&display=swap');
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

body {
  cursor: url('/images/parts/cursor/blueCursor.cur'), default;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Heebo', 'Spoqa Han Sans KR', 'Spoqa Han Sans', '나눔바른고딕', arial;
  letter-spacing: -1px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.lighter {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 400;
}

.link {
  text-decoration: none;
  color: #2196F3;
}

.gray {
  color: #888;
  font-style: italic;
}

.icon {
  height: 3vh;
}

.mainIcon {
  height: 18vh;
}

.shadowIcon {
  filter: drop-shadow(0 0 5px rgba(0,0,0,.5));
  height: 18vh;
}

.menuTitle {
  font-size: 3vh;
  font-weight: 600;
}

.menuSubtitle {
  font-size: 2vh;
  margin-top: -5px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
  
.pace-inactive {
  display: none;
}
  
.pace .pace-progress {
  background: #1788de;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  position: fixed;
  z-index: 2000;
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 1vh;
}
  
.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  bottom: 2vh;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #1788de;
  border-left-color: #1788de;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
   0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
  
#loadingContainer {
    opacity: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('/images/backgrounds/loading.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#logo {
    width: 25vw;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#footer {
    z-index: 100;
    position: fixed;
    height: 10vh;
    width: 100vw;
    bottom: 0;
    display: flex;
    text-align: center;
    align-items: center;
}

#footerLeft {
    opacity: 0;
    padding-left: 5vw;
    height: 100%;
    width: 33vw;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    font-size: 2vh;
    transition-duration: 1s;
}

#footerCenter {
    height: 100%;
    width: 34vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition-duration: 1s;
}

#footerRight {
    font-size: 1.6vh;
    padding-right: 5vw;
    height: 100%;
    width: 33vw;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
}

#urlateText {
  transition-duration: 1s;
  margin-bottom: 2vh;
}

#songName {
  opacity: 0;
  font-size: 2vh;
  transition-duration: 1s;
}

#noteIcon {
  height: 0.8em;
}

#header {
  position: fixed;
  z-index: 5;
  opacity: 0;
  height: 15vh;
  width: 100vw;
  top: 0;
  display: flex;
  text-align: center;
  align-items: center;
  transition-duration: 1s;
}

#headerLeft {
  height: 100%;
  width: 50vw;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  background-image: url('/images/parts/elements/namespace.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 19vw auto;
}

#headerRight {
  padding-right: 5vw;
  height: 100%;
  width: 50vw;
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
}

#name {
  color: white;
  padding-left: 5vw;
  font-size: 3vh;
  margin-top: 5px;
}

#line {
  border-left: 2px solid #BBB;
  height: 1em;
  margin: 5px;
}

#Hline {
  border-top: 2px solid #BBB;
  width: 1.5em;
  margin: 10px;
}

#selectContainer {
  position: fixed;
  z-index: 0;
  top: 0;
  display: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/backgrounds/track.png');
  background-repeat: no-repeat;
}

#menuContainer {
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0;
  transform: scale(0.9);
  text-align: center;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
  background-image: url('/images/backgrounds/main.png');
}

#backIconContainer {
  position: absolute;
  left: 0;
  top: 0;
  mix-blend-mode: color-burn;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/backgrounds/icons.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: 100% 0%; 
  background-size: 120%;
  animation-name: menuBack;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes menuBack {
  0%   { background-position: 100% 0%;  }
  100% { background-position: 0% 100%;  }
}

#menuContainer.loaded {
  opacity: 1;
  transform: scale(1);
}

#menuMain {
  display: flex;
}

#menuEditor {
  display: none;
}

#menuAdvanced {
  display: none;
}

.menuSelector {
  width: 13vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.noClick {
  pointer-events: none;
}

.clickable {
  cursor: url('/images/parts/cursor/blueSelect.cur'), pointer;
}

#editorIcon {
  margin-left: -23px;
}

.closeBtn {
  position: fixed;
  top: 6vh;
  right: 5vw;
}

.containers {
  z-index: 100;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  display: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background: #eee;
}

#infoLogo {
  width: 20vw;
  height: auto;
  margin-top: 10vh;
}

#infoLineContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#infoLine {
  border-top: 2px solid rgb(39, 39, 39);
  width: 3em;
  margin: 10px;
}

#croissantLogo {
  width: 10vw;
}

#visualizer {
  mix-blend-mode: darken;
  filter: sepia(2%) saturate(6166%) hue-rotate(184deg) contrast(116%) brightness(120%);
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  opacity: 0.3;
  transform: scaleX(1.2);
  transition-duration: 0.3s;
}

#visualizer.boom {
  opacity: 0.7;
  transition-duration: 0s;
}

.backIcon {
  mix-blend-mode: color-burn;
  position: fixed;
  opacity: 0;
  transition-duration: .5s;
}

.backIcon.show {
  opacity: 0.3;
}

#back1 {
  top: 20vh;
  right: 15vw;
  height: 20vh;
  width: auto;
  animation-name: back1move;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes back1move {
  0%   { top: 20vh; }
  100% { top: 40vh; }
}

#back2 {
  top: 0vh;
  right: 25vw;
  height: 30vh;
  width: auto;
  animation-name: back2move;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes back2move {
  0%   { top: 0vh; }
  100% { top: -10vh; }
}

#back3 {
  top: 50vh;
  right: 22vw;
  height: 10vh;
  width: auto;
  animation-name: back3move;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes back3move {
  0%   { top: 50vh; }
  100% { top: 30vh; }
}

#back4 {
  top: 30vh;
  left: 13vw;
  height: 18vh;
  width: auto;
  animation-name: back4move;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes back4move {
  0%   { top: 30vh; }
  100% { top: 10vh; }
}

#back5 {
  bottom: 15vh;
  left: 20vw;
  height: 13vh;
  width: auto;
  animation-name: back5move;
  animation-duration: 17s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes back5move {
  0%   { left: 20vw; }
  100% { left: 30vw; }
}

.fadeIn {
  animation: fadeIn .5s linear forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeOut {
  animation: fadeOut .5s linear forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.shortFadeIn {
  animation: shortFadeIn .2s linear forwards;
}

@keyframes shortFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}