@import url('https://fonts.googleapis.com/css?family=Heebo:200,400,500,600,800&display=swap');
@import url('metropolis.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Heebo', 'Noto Sans KR', '나눔바른고딕', arial;
  letter-spacing: -1px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.lighter {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 400;
}

.link {
  text-decoration: none;
  color: #2196F3;
}

.blackLink {
  text-decoration: none;
  color: #333;
}

.gray {
  color: #888;
  font-style: italic;
}

.icon {
  height: 3vh;
}

.infoIcon {
  height: 4vh;
  margin-right: 0.5vw;
}

.mainIcon {
  height: 18vh;
}

.shadowIcon {
  filter: drop-shadow(0 0 5px rgba(0,0,0,.5));
  height: 18vh;
}

.menuTitle {
  font-size: 3vh;
  font-weight: 600;
}

.menuSubtitle {
  font-size: 2vh;
  margin-top: -5px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
  
.pace-inactive {
  display: none;
}
  
.pace .pace-progress {
  background: #1788de;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  position: fixed;
  z-index: 2000;
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 1vh;
}
  
.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  bottom: 2vh;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #1788de;
  border-left-color: #1788de;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
   0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #8f8f8f;
}

::-webkit-scrollbar-thumb {
  background: #dddddd;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

#loadingContainer {
    opacity: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('/images/backgrounds/loading.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#logo {
    width: 25vw;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#footer {
    z-index: 100;
    position: fixed;
    height: 10vh;
    width: 100vw;
    bottom: 0;
    display: flex;
    text-align: center;
    align-items: center;
}

#footerLeft {
    opacity: 0;
    padding-left: 5vw;
    height: 100%;
    width: 33vw;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    font-size: 2vh;
    transition-duration: 1s;
}

#footerCenter {
    height: 100%;
    width: 34vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition-duration: 1s;
}

#footerRight {
    font-size: 1.6vh;
    padding-right: 5vw;
    height: 100%;
    width: 33vw;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
}

#urlateText {
  transition-duration: 1s;
  margin-bottom: 2vh;
}

#songName {
  opacity: 0;
  font-size: 2vh;
  transition-duration: 1s;
}

#noteIcon {
  height: 0.8em;
}

#header {
  position: fixed;
  z-index: 5;
  opacity: 0;
  height: 15vh;
  width: 100vw;
  top: 0;
  display: flex;
  text-align: center;
  align-items: center;
  transition-duration: 1s;
}

#headerLeft {
  height: 100%;
  width: 50vw;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  background-image: url('/images/parts/elements/namespace.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 19vw auto;
}

#headerRight {
  padding-right: 5vw;
  height: 100%;
  width: 50vw;
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
}

#name {
  color: white;
  padding-left: 5vw;
  font-size: 3vh;
  margin-top: 5px;
}

#line {
  border-left: 2px solid #BBB;
  height: 1em;
  margin: 5px;
}

#Hline {
  border-top: 2px solid #BBB;
  width: 1.5em;
  margin: 10px;
}

#selectContainer {
  background: #000 !important;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/backgrounds/track.png');
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
}

#menuContainer {
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0;
  transform: scale(0.9);
  text-align: center;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
  background-image: url('/images/backgrounds/main.png');
}

#backIconContainer {
  position: absolute;
  left: 0;
  top: 0;
  mix-blend-mode: color-burn;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/backgrounds/icons.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: 100% 0%; 
  background-size: 120%;
}

#menuContainer.loaded {
  opacity: 1;
  transform: scale(1);
}

#menuMain {
  display: flex;
}

#menuEditor {
  display: none;
}

#menuAdvanced {
  display: none;
}

.menuSelector {
  width: 13vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.noClick {
  pointer-events: none;
}

.clickable {
  cursor: pointer;
}

#editorIcon {
  margin-left: -23px;
}

.closeBtn {
  z-index: 200;
  position: fixed;
  top: 6vh;
  right: 5vw;
}

.containers {
  z-index: 100;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  display: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background: white;
}

#infoContainer {
  letter-spacing: -0.5px;
  font-family: 'Metropolis', 'Noto Sans KR', '나눔바른고딕', arial;
  color: #333;
  background-color: #FFF;
  background-image: url('/images/backgrounds/option_decorations.png');
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

#infoLogo {
  height: 7vh;
  margin: 4.5vh;
}

#licenseMain {
  font-size: 3vh;
  font-weight: 700;
}

#license {
  letter-spacing: -1px;
  font-size: 2.5vh;
  font-weight: 400;
  margin-top: 16vh;
  margin-bottom: 4.5vh;
}

#infoLineContainer {
  margin-top: 4.5vh;
  margin-bottom: 4.5vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#infoLine {
  border-top: 2px solid rgb(39, 39, 39);
  width: 4vw;
  margin: 10px;
}

#infoTitle {
  margin-top: 4.5vh;
  margin-bottom: 4.5vh;
  font-size: 3vh;
  font-weight: 700;
}

#infoSubtitle {
  color: #bbb;
  margin-bottom: 4.5vh;
  font-size: 2.5vh;
  font-weight: 500;
}

.profileContainer {
  margin-top: 4.5vh;
  margin-bottom: 4.5vh;
  margin-left: 20vw;
  width: 60vw;
  height: 10vw;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  font-weight: 600;
  background-position: center;
  background-size: cover;
  float: left;
  width: 10vw;
  height: 10vw;
  border-radius: 10px;
  background-color: #fff;
  filter: drop-shadow(0 0 10px #33333333);
  margin-left: 1vw;
  margin-right: 1vw;
}

.profileHover {
  cursor: pointer;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 3vh;
  font-weight: 600;
  transition-duration: .1s;
}

.profileHover:hover {
  opacity: 1;
}

#profileCoupy {
  background-image: url('/images/credits/coupy.png');
}

#profileAlta {
  background-image: url('/images/credits/altadex.jpg');
}

#profileShd {
  background-image: url('/images/credits/shd.jpg');
}

#profileGreenstar {
  background-image: url('/images/credits/greenstar.jpg');
}

#profileRanol {
  background-image: url('/images/credits/ranol.png');
}

#profileKiwi {
  background-image: url('/images/credits/kiwi.png');
}

#profilePine {
  background-image: url('/images/credits/pine.png');
}

#profileSkylight {
  background-image: url('/images/credits/lightqp.png');
}

#profileJoon {
  background-image: url('/images/credits/joon.png');
}

#profileHanu {
  background-image: url('/images/credits/hanukoon.png');
}

#profileGeoplex {
  background-image: url('/images/credits/geoplex.png');
}

#profileDanu {
  background-image: url('/images/credits/danuel.jpg');
}

#profileViktor {
  background-image: url('/images/credits/viktor.png');
}

#profileSaw {
  background-image: url('/images/credits/saw.png');
}

#infoProfileContainer {
  overflow-y: hidden;
  z-index: 101;
}

#infoProfileLeft {
  padding-top: 6vh;
  float: left;
  width: 18vw;
  height: 100vh;
}

#infoProfileRight {
  padding-top: 6vh;
  float: left;
  width: 82vw;
  height: 100vh;
}

#infoProfileImg {
  border-radius: 100px;
  width: 10vw;
  height: 10vw;
  filter: drop-shadow(0 0 10px #33333333);
}

#infoProfileTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 10vw;
}

#infoProfileName {
  font-size: 6vh;
  font-weight: 700;
}

#infoProfilePosition {
  color: #666;
  font-size: 3vh;
  font-weight: 500;
}

#infoProfileBottom {
  font-weight: 500;
  padding-top: 2vh;
  text-align: left;
  font-size: 3vh;
}

#quote {
  font-size: 3.5vh;
  font-weight: 700;
}

.infoProfilePart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2vh;
}

#visualizer {
  filter: invert(87%) sepia(3%) saturate(3117%) hue-rotate(186deg) brightness(101%) contrast(104%);
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  transform: scaleX(1.2);
  transition-duration: 0.3s;
}

.backIcon {
  mix-blend-mode: color-burn;
  position: fixed;
  opacity: 0;
  transition-duration: .5s;
}

.backIcon.show {
  opacity: 0.3;
}

#back1 {
  top: 20vh;
  right: 15vw;
  height: 20vh;
  width: auto;
}

#back2 {
  top: 0vh;
  right: 25vw;
  height: 30vh;
  width: auto;
}

#back3 {
  top: 50vh;
  right: 22vw;
  height: 10vh;
  width: auto;
}
#back4 {
  top: 30vh;
  left: 13vw;
  height: 18vh;
  width: auto;
}

#back5 {
  bottom: 15vh;
  left: 20vw;
  height: 13vh;
  width: auto;
}

.fadeIn {
  animation: fadeIn .3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeOut {
  animation: fadeOut .3s ease-in-out forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.shortFadeIn {
  animation: shortFadeIn .2s linear forwards;
}

@keyframes shortFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#advancedContainer {
  background-color: #FFF;
  background-image: url('/images/backgrounds/advanced_decorations.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#advancedTitle {
  font-size: 5vh;
  margin-top: 4vh;
  padding: 0;
  font-weight: 100;
}

.advancedDescription {
  font-size: 2vh;
  margin: 4.5vh 0 0 0;
  padding: 0;
}

.advancedSubtitle {
  font-size: 3vh;
  font-weight: 600;
  margin: 7vh 0 0 0;
  padding: 0;
}

#advancedIconsContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advancedIconWithDescription {
  margin-top: 4.5vh;
  display: flex;
  text-align: left;
  align-items: center;
}

.advancedIconDescription {
  font-size: 2vh;
  margin-left: 2vw;
}

#subtitleHighlight {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgb(255,255,255) 49%, rgb(235,235,235) 50%);
}

#registerBtn {
  margin: 10vh;
  font-weight: 600;
  font-family: 'Metropolis', 'Noto Sans KR', Arial;
  width: 13vw;
  height: 7vh;
  border-radius: 15px;
  border: none;
  background: linear-gradient(135deg, rgba(59,137,236,1) 0%, rgba(187,62,254,1) 100%);
  font-size: 3vh;
  color: white;
  filter: drop-shadow(0 0 10px rgba(50,50,50,0.3));
}

.additionalDescription {
  color: #666;
  font-size: 1.5vh;
}

#advancedPurchasing {
  z-index: 5;
  pointer-events: none;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
  font-size: 3vh;
  font-weight: 500;
  transition-duration: 1s;
  opacity: 0;
}

#optionContainer {
  background-color: #FFF;
  background-image: url('/images/backgrounds/option_decorations.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#optionTitle {
  font-size: 5vh;
  margin-top: 4vh;
  padding: 0;
  font-weight: 600;
}

#optionElementsContainer {
  position: fixed;
  height: 72vh;
  width: 100vw;
  top: 16vh;
}

#optionSelectorContainer {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 72vh;
  width: 12vw;
  float: left;
  border-right: solid #BBB 3px;
  padding-right: 3vw;
}

.optionSelectors {
  cursor: pointer;
  letter-spacing: -3px;
  margin: 2vh;
  color: #9B9B9B;
  font-weight: 500;
  font-size: 4vh;
}

.optionSelected {
  cursor: default;
  color: #404040;
  font-weight: 600;
}

.optionContentsContainer {
  display: none;
  text-align: left;
  padding-left: 3vw;
  height: 72vh;
  width: 80vw;
  float: left;
  overflow-y: auto;
  scrollbar-color: #5a5a5a #cecece;
  scrollbar-width: thin;
}

.optionTitle {
  margin-top: 4vh;
  font-weight: 600;
  color: #404040;
  font-size: 3.3vh;
}

.optionSemiTitle {
  font-weight: 600;
  color: #404040;
  font-size: 2.5vh;
  margin-right: 1vw;
}

.optionValueContainer {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.optionValue {
  font-family: 'Metropolis', 'Noto Sans KR', '나눔바른고딕', arial;
  font-weight: 400;
  color: #404040;
  font-size: 2vh;
}

.optionSelect {
  cursor: pointer;
  font-weight: 500;
  padding-left: 1vw;
  width: 10vw;
  height: 5vh;
  font-size: 2vh;
  font-family: 'Metropolis', 'Noto Sans KR', '나눔바른고딕', arial;
  letter-spacing: -1px;
  color: #fff;
  background-color: #666;
  border-radius: 10px;
}

.optionShow {
  display: initial;
}

.optionSlider {
  margin-right: 0.5vw;
  -webkit-appearance: none;
  width: 10vw;
  height: 3px;
  background: #616161;
  outline: none;
}

.optionSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  background: #363636;
  cursor: pointer;
}

.optionSlider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  background: #363636;
  cursor: pointer;
}

.optionButton {
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  padding: 1.5vh 3vw 1.5vh 3vw;
  font-size: 2vh;
  font-family: 'Metropolis', 'Noto Sans KR', '나눔바른고딕', arial;
  letter-spacing: -1px;
  color: #fff;
  text-decoration: none;
  background-color: #666;
  border-radius: 10px;
}

.optionCheckbox {
  margin-right: 2vw;
  border: solid #666 5px;
  width: 1vw;
  height: 1vw;
}

.advancedOnly {
  display: none;
}

#selectContainer {
  color: white;
  font-family: 'Metropolis', 'Noto Sans KR', '나눔바른고딕', arial;
}

#selectBackground {
  z-index: -1;
  pointer-events: none;
  background-size: cover;
  background-position: center;
  background-image: url("https://cdn.rhyga.me/albums/50/zenith (Custom).png");
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(20px);
  opacity: 0.7;
  transform: scale(1.1);
}

#tracks {
  position: fixed;
  top: 4.5vh;
  height: 5vh;
  left: 5vw;
}

#selectContainerLeft {
  padding-left: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  height: 80vh;
  width: 60vw;
  float: left;
}

#selectContainerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 80%;
}

#selectContainerTitleLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  width: 60%;
}

#selectTitle {
  font-size: 6vh;
  font-weight: 200;
}

#selectArtist {
  font-size: 3vh;
  font-weight: 500;
}

#selectContainerTitleRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 40%;
}

#selectScore {
  font-size: 3vh;
  font-weight: 600;
}

#selectScoreValue {
  font-size: 5vh;
  font-weight: 700;
}

#selectContainerAlbum {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 53%;
  width: 80%;
}

#selectContainerAlbumLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
}

#selectAlbum {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

#selectContainerAlbumRight {
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 40%;
}

#trackStats {
  border: 5px solid white;
  line-height: 3.2vh;
  width: 90%;
  height: 3vh;
  font-weight: 700;
  font-size: 2vh;
}

.trackStatContainer {
  margin-top: 1.5vh;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2vh;
  font-weight: 500;
}

.trackStatLineContainer {
  margin-top: 0.5vh;
  width: 70%;
  height: 5px;
  background-color: #00000050;
}

.trackStatLine {
  height: 100%;
  background-color: #fff;
  transition-duration: .3s;
  width: 100%;
}

#selectContainerInfo {
  padding-top: 7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 15%;
  width: 80%;
}

.selectInfo {
  text-align: left;
  height: 100%;
  margin-right: 1vw;
}

.selectInfoTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.selectInfoTitle {
  font-size: 3vh;
  font-weight: 600;
}

.key {
  margin-left: 0.5vw;
  font-size: 1.5vh;
  font-weight: 400;
  padding: 0.3vh 0.7vw;
  border: 2px solid white;
  border-radius: 10px;
}

.selectInfoContentsContainer {
  margin-top: 1vh;
}

.difficulty {
  font-size: 3.5vh;
  cursor: pointer;
  margin-right: 2vw;
  opacity: 0.3;
  font-weight: 300;
}

.difficultySelected {
  opacity: 1;
  font-weight: 800;
}

#selectStars {
  margin-top: -1vh;
  font-size: 2.5vh;
}

#selectRank {
  font-size: 6vh;
  font-weight: 300;
}

.medals {
  width: 5vh;
  opacity: 0.1;
  margin-right: 0.5vw;
}

.nomargin {
  margin: 0;
}

#selectContainerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 8vw;
  padding-top: 5vh;
  margin-top: 10vh;
  height: 80vh;
  width: 40vw;
  float: left;
}

#selectContainerRightTitles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 3%;
  width: 100%;
  text-align: right;
  margin-bottom: 2%;
  margin-right: 10px;
}

.selectContainerRightTitle {
  font-size: 3vh;
  font-weight: 700;
  opacity: 0.7;
}

#selectSongContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 90%;
}

#selectContainerRightRank {
  margin-left: 1vw;
  width: 5vw;
  text-align: center;
}

.songSelectionContainer {
  --artist-display: initial;
  --title-weight: 300;
  padding-top: 1vh;
  padding-bottom: 1vh;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  transition-duration: .2s;
}

.songSelectionInfo {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 1vw;
}

.songSelectionTitle {
  font-size: 3.5vh;
  font-weight: var(--title-weight);
}

.songSelectionArtist {
  display: var(--artist-display);
  font-size: 2.5vh;
  font-weight: 600;
}

.songSelectionRank {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
}

.rankSS:before {
  font-size: 5vh;
  font-weight: 800;
  color: #faeb1f;
  content: "SS";
}

.rankS:before {
  font-size: 5vh;
  font-weight: 800;
  color: #faeb1f;
  content: "S";
}

.rankA:before {
  font-size: 5vh;
  font-weight: 800;
  color: #42e24f;
  content: "A";
}

.rankB:before {
  font-size: 5vh;
  font-weight: 800;
  color: #22c7f0;
  content: "B";
}

.rankC:before {
  font-size: 5vh;
  font-weight: 800;
  color: #f14b66;
  content: "C";
}

.rankF:before {
  font-size: 5vh;
  font-weight: 800;
  color: #c0c0c0;
  content: "F";
}

.rankQ:before {
  font-size: 5vh;
  font-weight: 800;
  color: #fff;
  opacity: 0.2;
  content: "?";
}

.songSelected:before {
  content: url("https://img.icons8.com/material-rounded/30/ffffff/give-way.png");
  margin-right: 1vw;
  transform: rotate(-90deg) scale(0.9);
}

.songSelected {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  --artist-display: none;
  --title-weight: 600;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.5));
}