@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #EEE;
    text-align: center;
    font-family: 'Heebo', 'Noto Sans KR', '나눔바른고딕', arial;
    letter-spacing: -1px;
}

#logoContainer {
    width: 100vw;
    height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#buttonContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 7vh;
    opacity: 0;
    transition-duration: 0s;
}

#logo {
    height: 24vh;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5vh;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    position: fixed;
    bottom: 0;
}

.link {
    margin-left: 5vw;
    margin-right: 5vw;
    text-decoration: none;
    color: rgb(34, 34, 34);
}

.bottomLang {
    text-decoration: none;
    color: rgb(25, 153, 204);
    font-size: .9em;
}