@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,700&display=swap');
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Heebo', 'Spoqa Han Sans KR', '나눔바른고딕', arial;
    overflow-x: hidden;
    overflow-y: hidden;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #1788de;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  position: fixed;
  z-index: 2000;
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 1vh;
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  bottom: 2vh;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #1788de;
  border-left-color: #1788de;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

#loadingContainer {
  opacity: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition-duration: 1s;
}

#loadingContainer.fadeOut {
  opacity: 0;
  transform: scale(0.9);
}

#loading {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#albumArt {
  height: 50vh;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
  border-radius: 0.5vw;
}

#title {
  font-weight: 600;
  font-size: 2.5em;
  margin-top: 5vh;
}

#composer {
  font-weight: 300;
  font-size: 1.7em;
  margin: 0;
}