@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,600&display=swap');
@import url('https://cdn.rhyga.me/fonts/Metropolis/style.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  background: #eee;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  cursor: none; 
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Metropolis', 'Noto Sans KR', '나눔바른고딕', arial;
  letter-spacing: -1px;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
  
.pace-inactive {
  display: none;
}
  
.pace .pace-progress {
  background: #1788de;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  position: fixed;
  z-index: 2000;
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 1vh;
}
  
.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  bottom: 2vh;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #1788de;
  border-left-color: #1788de;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
   0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

#canvasContainer {
  cursor: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#componentCanvas {
  cursor: none;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition-duration: 1s;
}

.wall {
  filter: drop-shadow(0 0px 10px rgba(0,0,0,0.5));
  position: fixed;
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  top: 0;
  height: 100vh;
  width: 10vw;
  transition-duration: 2s;
}

#wallLeft {
  left: -10vw;
}

#wallRight {
  right: -10vw;
  transform: rotate(180deg);
}

#canvasBackgroundImage {
  cursor: none;
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(30%) opacity(20%);
}

#loadingContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition-duration: 1s;
  z-index: 5;
}

#title {
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.2));
  font-size: 2em;
  font-weight: 600;
}

#artist {
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.2));
  font-size: 1.3em;
}

#alertMessage {
  color: #FF5555;
  filter: drop-shadow(0 0 5px rgba(255,100,100,0.2));
  font-size: 1.3em;
}

#album {
  width: 30vw;
  margin-bottom: 3vh;
  border-radius: 5px;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.2));
}

.opacity1 {
  opacity: 1 !important;
}

.opacity0 {
  opacity: 0 !important;
}

#author {
  color: #ddd;
  font-size: 1.2em;
  text-align: right;
  position: fixed;
  bottom: 2vh;
  right: 2vw;
}

#menuContainer {
  align-items: center;
  justify-content: center;
  cursor: initial;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1111114b;
}

#menuBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30vw;
  height: 70vh;
  background-color: #eee;
  color: #222;
  border-radius: 10px;
}

.menuBtn {
  font-weight: 500;
  padding: 1vh 4vw 1vh 4vw;
  font-size: 4vh;
  transition-duration: .5s;
  cursor: pointer;
  border-radius: 50vh;
  background-size: cover;
}

.menuBtn:hover {
  padding: 3vh 6vw 3vh 6vw;
  color: white;
}

#resume:hover {
  background-image: url("/images/parts/elements/resume_button_background.png");
}

#retry:hover {
  background-image: url("/images/parts/elements/retry_button_background.png");
}

#backToHome:hover {
  background-image: url("/images/parts/elements/back_to_home_button_background.png");
}

#backToEditor:hover {
  background-image: url("/images/parts/elements/back_to_editor_button_background.png");
}

#scoreContainer {
  align-items: center;
  justify-content: center;
  cursor: initial;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}