@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

body {
  /*cursor: url("/photos/gameImages/circle_cursor.png") 16 16, auto;*/
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  font-family: 'Noto sans KR', arial, sans-serif;
  overflow:hidden;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(252,252,252);
  background: radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(245,245,245,1) 100%);
}

::-moz-selection {
    color: white;
    background: #90CAF9;
}

::selection {
    color: white;
    background: #90CAF9;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #1b1b1b;
  position: fixed;
  z-index: 2000;
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 10px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #1b1b1b, 0 0 5px #1b1b1b;
  opacity: 1.0;
  -webkit-transform: rotate(-3deg) translate(0px, 4px);
  -moz-transform: rotate(-3deg) translate(0px, 4px);
  -ms-transform: rotate(-3deg) translate(0px, 4px);
  -o-transform: rotate(-3deg) translate(0px, 4px);
  transform: rotate(-3deg) translate(0px, 4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  bottom: 20px;
  right: 15px;
  width: 30px;
  height: 30px;
  border: solid 5px transparent;
  border-top-color: #1b1b1b;
  border-left-color: #1b1b1b;
  border-radius: 30px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.flexbox {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#loading {
  background-image: url("/photos/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 50;
}

#logo {
  width: 20vw;
}

.bottomCenterText {
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 40px;
  position: fixed;
  color: black;
  font-size: 1.3rem;
  font-weight: 100;
  z-index: 120;
}

.bottomRightText {
  text-align: right;
  position: fixed;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  white-space: nowrap;
}

.topLeftText {
  position: fixed;
  text-align: left;
  top: 0.7em;
  left: 2em;
  font-size: 1.7em;
  font-weight: 200;
}

.bottomLeftText {
  text-align: left;
  position: fixed;
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
  bottom: 20px;
  left: 40px;
  white-space: nowrap;
}

#main {
  display: none;
  background: radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(245,245,245,1) 100%);
  width: 100vw;
  height: 100vh;
}

#selSong {
  display: none;
  background: radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(245,245,245,1) 100%);
  width: 100vw;
  height: 100vh;
}

@keyframes jumpingLogo {
    0%   { width: 10em; }
    10%  { width: 12em; }
    100% { width: 10em; }
}

#bottomLogo {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 70px;
  width: 10em;
  z-index: 0;
  opacity: 0.7;
  animation-name: jumpingLogo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.verticalLine {
  border-left: 4px solid black;
  height: 2em;
  position: fixed;
  top: 1.6em;
  left: 2.5em;
}

#copyright {
  display: none;
}

#nowPlaying {
  display: none;
  position: fixed;
  left: 70px;
  bottom: 40px;
}

#rightTopIcons {
  position: fixed;
  right: 2em;
  top: 1.2em;
}

.iconHorizontalLine {
  border-top: 2px solid rgb(130,130,130);
  width: 1.5em;
  padding-bottom: 0.3em;
}

.rightVerticalLine {
  position: fixed;
  right: 3.8em;
  top: 2.2em;
  border-left: 2px solid rgb(100,100,100);
  height: 1em;
}

#top-padding-icon {
  padding-top: 0.6em;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #top-padding-icon {
    padding-top: 0.5em !important;
  }
}

.profileImg {
  margin-top: 1em;
  border-radius: 50%;
  width: 200px;
  box-shadow: 0px 2px 15px -8px rgba(0,0,0,0.5);
}

.profileName {
  margin-top: 5px;
  font-weight: normal;
  font-size: 1.5em;
}

.profileDescription {
  text-align: center;
  margin-top: 3px;
  font-size: 1em;
  font-weight: 300;
  white-space: nowrap;
}

#fps {
  text-align:center;
  position: fixed;
  color: white;
  background-color: #66bb6a;
  right: 40px;
  bottom: 100px;
  z-index: 100;
  padding: 3px 23px 3px 23px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

#ping {
  text-align:center;
  position: fixed;
  color: white;
  background-color: #66bb6a;
  right: 40px;
  bottom: 140px;
  z-index: 100;
  padding: 3px 30px 3px 30px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

.category {
  font-weight: 300;
  margin-left: 7px;
  cursor: pointer;
}

.selected {
  font-weight: 500;
}

#songListContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  border-left-width: 2px;
  border-left-color: rgb(200,200,200);
  border-left-style: solid;
}

.songs {
  padding-bottom: 10px;
  background: none;
  padding-left: 20px;
  transition-duration: 0.5s;
}

.selectedSong {
  padding-top: 5px;
  margin-left: 0px;
  margin-right: 20px;
  padding-left: 20px;
  background-color: rgb(20,20,20);
  color: white;
}

.title {
  font-size: 1.5em;
  font-weight: 500;
}

.prod {
  font-size: 1em;
  font-weight: 300;
}

.simpleScrollBar::-webkit-scrollbar-track
{
	border: none;
	background-color: rgb(200,200,200);
}

.simpleScrollBar::-webkit-scrollbar
{
	width: 5px;
	background-color: rgb(200,200,200);
}

.simpleScrollBar::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

#dropDownArrow {
  width: 3vw;
  margin-bottom: -5px;
  margin-left: -10px;
  cursor: pointer;
  transition-duration: 0.5s;
  transform: rotate(0deg);
}

#mode {
  background-color: rgb(20,20,20);
  width: 60%;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  border-radius: 1px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  transition-duration: 0.5s;
  color: rgb(245,245,245);
  height: 24px;
  line-height: 24px;
}

#background_darker {
  position: fixed;
  display: none;
  background-color: rgba(0,0,0,0.8);
  width: 100vw;
  height: 100vh;
  z-index: 5;
  top: 0;
}

#subMode {
  display: none;
  width: 80%;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
