@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

body {
 font-family: 'Noto Sans KR', arial, sans-serif;
  overflow:hidden;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, #CFD8DC, #263238);
}

#main {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

@keyframes moveBtn {
  0%   { margin-top: 50px; }
  50%   { margin-top: 40px; }
  100%   { margin-top: 50px; }
}

@-webkit-keyframes moveBtn {
  0%   { margin-top: 50px; }
  50%   { margin-top: 40px; }
  100%   { margin-top: 50px; }
}

#login {
  text-decoration: none;
  color: white;
  background-color: #353535;
  padding: 10px 50px 10px 50px;
  border-radius: 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  font-size: 20px;
  margin-top: 50px;
  -webkit-animation: moveBtn 2s infinite;
  animation: moveBtn 2s infinite;
}

#version {
  color: white;
  text-shadow: 0 1px 3px rgba(0,0,0,0.7);
  position: fixed;
  bottom: 5px;
  right: 5px;
}

#my-signin2 {
  margin-top: 2vh;
}
